body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.alert {
	width:90%;
}

.table td, th {
   text-align: center;   
}

[id]::before {
  content: '';
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}

.navbar-nav .active {
  background-color: #1111ff;
  color:#ee0000 !important;
}

.nav-link.active {
  background-color: #ff1111;
  color:#00ee00 !important;
}