body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.alert {
	width:90%;
}

a.link-secondary {
  color: #337ab7 !important;
  text-decoration: none;
  font-weight: normal;
}

a.link-secondary:hover {
  color: #225fa6 !important;
  text-decoration: underline; 
  font-weight: normal;
}

.nav-link.active {
  color:#eeeeee !important;
}

.table td, th {
   text-align: center;   
}

[id]::before {
  content: '';
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}
